<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.netflix">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Netflix">
        <activity
            android:name=".MainScreens.MovieDetails"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.VideoPlayer"
            android:exported="false"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".MainScreens.Search"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.Settings"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.TvSeries"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.Movies"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.PlanExpired"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.PaymentGateway"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.StepThree"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.StepTwo"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.FinishUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.ChooseYourPlans"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.StepOne"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MainScreens.MainScreen"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.SwipeScreen"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.SignInActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Activites.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.razorpay.Apikey"
            android:value="rzp_test_zyAcpbZhjKMDpg" />
    </application>

</manifest>